body{
  margin: 0;
  padding: 0;
}


.element {
    background: linear-gradient(to right, #F8CCFB 0%, #ACD2FD 100%);
    gap: 30px;
  }
  .element-2{
    background: linear-gradient(to right, #FFF9F4 0%, #F9DF8A 100%);
    gap: 30px;
    padding-top: 50px;
   
  }
  .adlam-display-font {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
}

.sora-font {
    font-family: "Sora", serif;
    font-size: 18px;
    font-weight: normal;
}